--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2 (Debian 16.2-1.pgdg110+2)
-- Dumped by pg_dump version 16.2 (Debian 16.2-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: pgrouting; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgrouting WITH SCHEMA public;


--
-- Name: EXTENSION pgrouting; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgrouting IS 'pgRouting Extension';


--
-- Name: get_astar_route(integer, integer, boolean); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.get_astar_route(start_node integer, end_node integer, is_disabled boolean DEFAULT false) RETURNS TABLE(id integer, node_id bigint, edge_id bigint, route_name text, route_floor integer, route_cost double precision, geom public.geometry)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        res.seq::int AS id, 
        res.node AS node_id, 
        res.edge AS edge_id, 
        e.name AS route_name, 
        e.floor AS route_floor, 
        res.cost AS route_cost, 
        e.geom
    FROM pgr_astar(
        -- SQL sorgusu i├ğine 'is_disabled' mant─▒─ş─▒n─▒ ve A* i├ğin gereken x1, y1, x2, y2 koordinatlar─▒n─▒ ekledik
        'SELECT id, source, target, 
         CASE WHEN ' || is_disabled || ' AND edge_type = ''stairs'' THEN 999999 ELSE cost END AS cost,
         ST_X(ST_StartPoint(geom)) AS x1, ST_Y(ST_StartPoint(geom)) AS y1,
         ST_X(ST_EndPoint(geom)) AS x2, ST_Y(ST_EndPoint(geom)) AS y2 
         FROM edges',
        start_node, end_node, FALSE
    ) AS res
    LEFT JOIN edges e ON res.edge = e.id
    ORDER BY res.seq;
END;
$$;


ALTER FUNCTION public.get_astar_route(start_node integer, end_node integer, is_disabled boolean) OWNER TO admin;

--
-- Name: get_dijkstra_route(integer, integer, boolean); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.get_dijkstra_route(start_node integer, end_node integer, is_disabled boolean DEFAULT false) RETURNS TABLE(id integer, node_id bigint, edge_id bigint, route_name text, route_floor integer, route_cost double precision, geom public.geometry)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        res.seq::int AS id, 
        res.node AS node_id, 
        res.edge AS edge_id, 
        e.name AS route_name, 
        e.floor AS route_floor, 
        res.cost AS route_cost, 
        e.geom
    FROM pgr_dijkstra(
        'SELECT id, source, target, 
         CASE WHEN ' || is_disabled || ' AND edge_type = ''stairs'' THEN 999999 ELSE cost END AS cost 
         FROM edges',
        start_node, end_node, FALSE
    ) AS res
    LEFT JOIN edges e ON res.edge = e.id
    ORDER BY res.seq;
END;
$$;


ALTER FUNCTION public.get_dijkstra_route(start_node integer, end_node integer, is_disabled boolean) OWNER TO admin;

--
-- Name: get_route_by_coords(double precision, double precision, double precision, double precision, boolean); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.get_route_by_coords(start_lon double precision, start_lat double precision, end_lon double precision, end_lat double precision, is_disabled boolean DEFAULT false) RETURNS TABLE(id integer, node_id bigint, edge_id bigint, route_name text, route_floor integer, route_cost double precision, geom public.geometry)
    LANGUAGE plpgsql
    AS $$
DECLARE
    s_id INTEGER;
    e_id INTEGER;
BEGIN
    -- Gelen 4326 (GPS) koordinatlar─▒n─▒ 3857'ye (Metre) ├ğevirip en yak─▒n Node'u bulur
    SELECT v.id INTO s_id 
    FROM public.edges_vertices_pgr v 
    ORDER BY v.the_geom <-> ST_Transform(ST_SetSRID(ST_Point(start_lon, start_lat), 4326), 3857) 
    LIMIT 1;

    SELECT v.id INTO e_id 
    FROM public.edges_vertices_pgr v 
    ORDER BY v.the_geom <-> ST_Transform(ST_SetSRID(ST_Point(end_lon, end_lat), 4326), 3857) 
    LIMIT 1;

    -- Ak─▒ll─▒ rotay─▒ (Dijkstra/A*) ├ğa─ş─▒r─▒p sonucu 7 s├╝tun olarak d├Ând├╝r├╝r
    RETURN QUERY SELECT * FROM public.get_smart_route(s_id, e_id, is_disabled);
END;
$$;


ALTER FUNCTION public.get_route_by_coords(start_lon double precision, start_lat double precision, end_lon double precision, end_lat double precision, is_disabled boolean) OWNER TO admin;

--
-- Name: get_route_by_rooms(text, text, boolean); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.get_route_by_rooms(start_room text, end_room text, is_disabled boolean DEFAULT false) RETURNS TABLE(id integer, node_id bigint, edge_id bigint, route_name text, route_floor integer, route_cost double precision, geom public.geometry)
    LANGUAGE plpgsql
    AS $$DECLARE
    s_node_id INTEGER;
    e_node_id INTEGER;
BEGIN
    -- Oda isimlerini Node ID'ye ├ğeviriyoruz
    SELECT v.id INTO s_node_id FROM public.rooms r, public.edges_vertices_pgr v 
    WHERE r.room_number = start_room ORDER BY r.geom <-> v.the_geom LIMIT 1;

    SELECT v.id INTO e_node_id FROM public.rooms r, public.edges_vertices_pgr v 
    WHERE r.room_number = end_room ORDER BY r.geom <-> v.the_geom LIMIT 1;

    -- Senin yazd─▒─ş─▒n ak─▒ll─▒ motoru t├╝m s├╝tunlarla ├ğa─ş─▒r─▒yoruz
    RETURN QUERY SELECT * FROM public.get_smart_route(s_node_id, e_node_id, is_disabled);
END;
$$;


ALTER FUNCTION public.get_route_by_rooms(start_room text, end_room text, is_disabled boolean) OWNER TO admin;

--
-- Name: get_smart_route(integer, integer, boolean); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.get_smart_route(start_id integer, end_id integer, is_disabled boolean DEFAULT false) RETURNS TABLE(id integer, node_id bigint, edge_id bigint, route_name text, route_floor integer, route_cost double precision, geom public.geometry)
    LANGUAGE plpgsql
    AS $$
DECLARE
    dist_meters FLOAT;
BEGIN
    -- Art─▒k birimimiz EPSG:3857 (Metre) oldu─şu i├ğin do─şrudan mesafe ├Âl├ğ├╝yoruz
    SELECT ST_Distance(v1.the_geom, v2.the_geom) INTO dist_meters
    FROM edges_vertices_pgr v1, edges_vertices_pgr v2
    WHERE v1.id = start_id AND v2.id = end_id;

    -- Mesafe 500 metreden uzunsa A*, k─▒sa ise Dijkstra ├ğa─ş─▒r─▒l─▒r
    IF (dist_meters > 500) THEN
        -- get_astar_route fonksiyonunu da is_disabled parametresiyle g├╝ncellemeyi unutma!
        RETURN QUERY SELECT * FROM get_astar_route(start_id, end_id, is_disabled);
    ELSE
        RETURN QUERY SELECT * FROM get_dijkstra_route(start_id, end_id, is_disabled);
    END IF;
END;
$$;


ALTER FUNCTION public.get_smart_route(start_id integer, end_id integer, is_disabled boolean) OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: edges; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.edges (
    id integer NOT NULL,
    name text,
    floor integer,
    source integer,
    target integer,
    cost double precision,
    reverse_cost double precision,
    geom public.geometry(LineString,3857),
    edge_type character varying(20) DEFAULT 'hallway'::character varying
);


ALTER TABLE public.edges OWNER TO admin;

--
-- Name: edges_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.edges_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.edges_id_seq OWNER TO admin;

--
-- Name: edges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.edges_id_seq OWNED BY public.edges.id;


--
-- Name: edges_vertices_pgr; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.edges_vertices_pgr (
    id bigint NOT NULL,
    cnt integer,
    chk integer,
    ein integer,
    eout integer,
    the_geom public.geometry(Point,3857)
);


ALTER TABLE public.edges_vertices_pgr OWNER TO admin;

--
-- Name: edges_vertices_pgr_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.edges_vertices_pgr_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.edges_vertices_pgr_id_seq OWNER TO admin;

--
-- Name: edges_vertices_pgr_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.edges_vertices_pgr_id_seq OWNED BY public.edges_vertices_pgr.id;


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.rooms (
    id integer NOT NULL,
    room_number text,
    description text,
    floor integer,
    geom public.geometry(Point,3857),
    nearest_node_id bigint
);


ALTER TABLE public.rooms OWNER TO admin;

--
-- Name: rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.rooms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rooms_id_seq OWNER TO admin;

--
-- Name: rooms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.rooms_id_seq OWNED BY public.rooms.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'user'::text NOT NULL
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: edges id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.edges ALTER COLUMN id SET DEFAULT nextval('public.edges_id_seq'::regclass);


--
-- Name: edges_vertices_pgr id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.edges_vertices_pgr ALTER COLUMN id SET DEFAULT nextval('public.edges_vertices_pgr_id_seq'::regclass);


--
-- Name: rooms id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rooms ALTER COLUMN id SET DEFAULT nextval('public.rooms_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: edges; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: edges_vertices_pgr; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.rooms (id, room_number, description, floor, geom, nearest_node_id) FROM stdin;
1	K-101	\N	0	0101000020110F0000EC36E3A246E64B41A866CED1F7855241	\N
2	L-102	\N	0	0101000020110F0000F149C84B7EE64B41D182A91C1C865241	\N
3	S-201	\N	1	0101000020110F0000FE6F929DEDE64B41EAF9C7B264865241	\N
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.users (id, username, password, role) FROM stdin;
1	admin	$2b$12$EixZaYVK1fsbw1ZfbX3OXePaWxn96p36WQoeG6Lruj3vjPGga31lW	admin
\.


--
-- Name: edges_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.edges_id_seq', 6, true);


--
-- Name: edges_vertices_pgr_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.edges_vertices_pgr_id_seq', 10, true);


--
-- Name: rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.rooms_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: edges edges_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.edges
    ADD CONSTRAINT edges_pkey PRIMARY KEY (id);


--
-- Name: edges_vertices_pgr edges_vertices_pgr_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.edges_vertices_pgr
    ADD CONSTRAINT edges_vertices_pgr_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: edges_geom_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX edges_geom_idx ON public.edges USING gist (geom);


--
-- Name: edges_source_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX edges_source_idx ON public.edges USING btree (source);


--
-- Name: edges_target_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX edges_target_idx ON public.edges USING btree (target);


--
-- Name: edges_vertices_pgr_the_geom_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX edges_vertices_pgr_the_geom_idx ON public.edges_vertices_pgr USING gist (the_geom);


--
-- Name: edges fk_edges_source; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.edges
    ADD CONSTRAINT fk_edges_source FOREIGN KEY (source) REFERENCES public.edges_vertices_pgr(id);


--
-- Name: edges fk_edges_target; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.edges
    ADD CONSTRAINT fk_edges_target FOREIGN KEY (target) REFERENCES public.edges_vertices_pgr(id);


--
-- Name: rooms fk_rooms_node; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT fk_rooms_node FOREIGN KEY (nearest_node_id) REFERENCES public.edges_vertices_pgr(id);


--
-- PostgreSQL database dump complete
--

